@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url(./carrossel.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Lexend", sans-serif;
    font-size: 2.0rem;
}

:root{
    --azul-escuro: #1E3D59;
    --amarelo: #F77F00;
    --amarelo-hover: #ec7a00;
    --braco-gelo: #F9F9F9;
    --branco: #ffffff;
    --cinza: #E5E5E5;
    --verde-musgo: #4A7C59;
    --h1: #D9D9D9;

    font-size: 62.5%; 
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
    max-width: 130rem;
    margin-inline: auto;
}


.logo img {
    height: 8rem;
    width: 8rem;
}

.a {
    display: flex;
    gap: 2.5rem;
}

li {
    list-style: none;
}

a {
    font-size: 3.2rem;
    text-decoration: none;
    line-height: auto;
    font-weight: 600;
    color: var(--braco-gelo);
} 

#active {
    color: var(--amarelo);
}

body {
    background-color: var(--braco-gelo);
}

h2 {
font-size: 4.8rem;
font-style: normal;
font-weight: 700;
}

.verde {
    color: var(--verde-musgo);
}

footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-block: 1.8rem;
    background-color: var(--azul-escuro);
    color: var(--braco-gelo);    
    width: 100%;
    height: 6rem;
    gap: 11rem;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
    color: var(--braco-gelo);
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-block: auto;
}
p #left {
    text-align: left;
}

p #center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

p #right {
    text-align: right;
    font-weight: bold;
}

h1{
    color: var(--h1);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 9.6rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

span{
    color: var(--braco-gelo);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paragrafo {
    margin-top: 2.9rem;
    width: 64rem;
}

.descricao {
    margin-left: 2.2rem;
}
.container {
    height: 109rem;
}

.textos-intro {
    padding-top: 27.7rem;
    height: 100%;
    max-width: 90%;
    margin-inline: auto;
}

.spam-row{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.spam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37.2rem;
    height: 9.1rem;

    span{
        margin-left: 7.5rem;
    }

}


.spam-line {
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    gap: 8.5rem;
}

hr {
    background-color: var(--branco);
    width: 100%rem;
    height: 0.4rem;
    margin-top: 5.7rem;
    margin-bottom: 11.2rem;
}

.container {
    max-width: 129.5rem;
    min-width: none;
    margin-inline: auto;
    margin-bottom: 11.2rem;
}

section.oque {
    margin-top: 15.1rem;
    max-width: 90%;
    margin-inline: auto;
    display: flex;
    gap: 7.9rem;
}

.texto-1 {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    width: 53.2rem;
    height: 50rem;
}

.imagens-1 {
    display: flex;
    gap: 2.4rem;

    .imagens-colunas {
        display: flex;
        flex-direction: column;
        gap: 2.8rem
    }
}

.body  section{
    max-width: 129.5rem;
    min-width: none;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}

section.terceira {
    height: 72rem;
    width: 100%;
    background-color: var(--azul-escuro);
    margin-top: 20.9rem;

    p {
        font-size: 2rem;
        font-weight: 350;
        color: var(--branco);
    }

    h2{
        padding-top: 3.6rem;
        color: var(--branco);
        text-align: center;
    }
    
    
    .informativos{
        display: flex;
        gap: 4.6rem;
        flex-direction: row;
        align-items: center;
        gap: 5.9rem;
        margin-top: 13.1rem;
        max-width: 90%;
        margin-inline: auto;
        justify-content: center;
    }

    .info {
        max-width: 90%;
        border-radius: 15px;
        border: 7px solid #D9D9D9;
        background: rgba(217, 217, 217, 0.00);
        width: 25.2rem;
        height: 36.2rem;
        text-align: center;
        padding-inline: 1.6rem;
       
        .p-3{
            width: 20.4rem;
            height: 18.6rem;
        }
    }

    svg {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}

section.quarta{
    margin-top: 12.5rem;
    max-width: 90%;
    margin-inline: auto;
    display: flex;
    gap: 2.9rem;
    height: 51.2rem;

    button {
        border: none;
        background-color: var(--braco-gelo);
    }

    button.e {
        transform: rotate(-179.478deg);
    }

    .siema {
        padding-top: 4.4rem;
        background-color: var(--azul-escuro);
        width: 144rem;
        height: 51.2rem;

        .conteudo{
            width: 90%;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4.5rem;

            h2 {
                color: var(--branco);
                font-weight: 700;
            }

            p {
            margin-top: 2.2rem;
            color: var(--branco);
            font-size: 2rem;
            font-weight: 300;
            }

            
        }

    }
}

.texto-siema{
    margin-left: 0rem;
    min-width: 70rem;
    max-width: 100rem;
}

section.quinta {
    margin-top: 16.3rem;
    display: flex;
    justify-content: center;
    gap: 8.2rem;

    .texto-2 {
        display: flex;
        flex-direction: column;
        width: 52rem;
    }

    .imagens-5{
        display: flex;
        gap: 3.2rem;
    }
    
    .imagens-5{
        img#pequena {
            margin-bottom: 26.5rem;
        }
    }
}

section.sexta {
  margin-top: 16rem;
  padding: 2rem;
}

section.sexta img {
    max-width: 57.2rem;  
    width: 100%;        
    height: auto;       
    border-radius: 0.5rem;
  }
  

section.sexta h2 {
  text-align: center;
  margin-bottom: 5rem;
}

.p-6 {
    width: 57.2rem;

    p{
        color: #000;
    font-family: Lexend;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
}

.conteudo-5 {
  display: flex;
  flex-direction: column;
  gap: 8.8rem; 
}

.linha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13rem;
  align-items: center;
  gap: 13rem;
}

.linha img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}


section.setima {
    margin-top: 14.3rem;
    padding: 2rem;
}

section.setima h2 {
    text-align: center;
    margin-bottom: 5.8rem;
    font-size: 4.8rem;
    font-weight: 700;
}


section.setima .grade {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
    margin-bottom: 4.4rem;
}

.topico#ESQRD{
    margin-right: 17rem;
}

section.setima .row-7 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}


section.setima .topico {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    flex: 1;
}


section.setima .topico-row {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    align-items: flex-start;
}

section.setima img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}


section.setima p {

    font-weight: 400;
    font-size: 2rem;
    line-height: 1.6;
    text-align: justify;
}

.button-up{
    display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;  
}

button#up {
    border: none;
    background-color: var(--braco-gelo);
    margin-top: 7rem;
    margin-bottom: 3rem;
    justify-content: row;
    cursor: pointer;
}

p {
    text-align: justify;
  }
  