@import url(global.css);

:root {
  font-size: 62.5%;
  --azul-escuro: #1E3D59;
  --laranja-queimado: #F77F00;
  --braco-gelo: #F9F9F9;
  --cinza-claro: #E5E5E5;
  --verde-musgo: #4A7C59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  background: var(--braco-gelo);
  color: #FFFF;
  line-height: 1.6;
}

.title {
  text-align: center;
  margin: 6rem auto 8rem;
  max-width: 80rem; 
  color: #000000;
}

.title h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.title h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.timeline {
  position: relative;
  width: 90%;
  max-width: 120rem;
  margin: auto;
  padding: 4rem 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1rem;
  background: var(--azul-escuro);
  transform: translateX(-50%);
}

.timeline section {
  display: flex;
  justify-content: space-between;
  margin: 8rem 0;
  position: relative;
}

.timeline section.left .text,
.timeline section.left .image,
.timeline section.right .text,
.timeline section.right .image {
  width: 35%;
}

.left .dot,
.right .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--verde-musgo); 
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  border: 0.4rem solid var(--branco-gelo);
  z-index: 3;
}

.text {
  color: #FFFF;
  width: 30%;
  padding: 2.4rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.6rem 1.6rem rgba(0,0,0,0.1);
}

.left .text {
  background-color: var(--azul-escuro);
}

.right .text {
  background-color: var(--verde-musgo);
}

.text h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.text p {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.8;
}

.image img {
  width: 100%;
  border-radius: 2.5rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0,0,0,0.2);
}
