@import url(global.css);

header {
  .logo {
    align-items: end;
  }

  justify-content: end;
}

body {
  height: 100vh;
}

.entrar {
  display: flex;
  flex-direction: row-reverse;
  gap: 5.9rem;
  height: 100%;
}

.entrar-form {
  margin-top: 14.7rem;
  width: 61.7rem;
  height: 44.5rem;

  display: flex;
  flex-direction: row;
}

.entrar-form,
form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  h2 {
    color: var(--azul-escuro);
  }

  label {
    color: var(--azul-escuro);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
  }

  input {
    width: 61.3rem;
    height: 5.6rem;
    border-radius: 1.5rem;
    border: none;
    background-color: var(--cinza);
  }

  input::placeholder {
    padding-left: 2.1rem;
    color: #5B6483;
    font-size: 2.4rem;
    font-weight: 700;
  }

  p {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  }

  button {
    margin-top: 2.3rem;
    border-radius: 1.5rem;
    background-color: var(--azul-escuro);
    width: 61.3rem;
    height: 6.38rem;
    border: none;

    color: var(--branco);
    font-size: 2.4rem;
    font-weight: 700;
  }
}

.aprenda {
  margin-left: -7.5rem;
  margin-top: -11.8rem;
  padding-top: 18.3rem;
  padding-left: 8.7rem;

  min-height: 102.4rem;

  background-image: url(fotos/login-cadastro-fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;

  span {
    text-transform: uppercase;
    color: var(--amarelo);
    font-size: 3.2rem;
    font-weight: 600;
  }

  .texto {
    width: 45rem;
    height: 45.5rem;

    h2 {
      color: var(--branco);
      font-size: 6.2rem;
      font-weight: 700;
    }

    p {
      color: var(--branco);
      font-size: 2.4rem;
      font-weight: 700;
      text-align: justify;
    }
  }

  .informacoes-contato {
    margin-top: 7.9rem;
    margin-bottom: 10.3rem;
    height: 22.8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .topico-contato {
      display: flex;
      flex-direction: row;
      gap: 2.1rem;

      span {
        color: var(--branco);
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: none;
      }
    }
  }
}
